<h1>All Shelters</h1>
<a href="/shelters/new">New Shelter</a>
<% @shelters.each do |shelter| %>
    <%= link_to "#{shelter.name}", "/shelters/#{shelter.id}", class: "name-link" %>
    <%= link_to "Update", "/shelters/#{shelter.id}/edit" %>
    <%= link_to "Delete", "/shelters/#{shelter.id}", method: :delete %>
<% end %>