<h1 class="heading">Favorite Pets</h1>

<% @favorite_pets.each do |pet| %>
    <div class="row pet-entry">
        <div class="col-4"
            <figcaption><%= link_to "#{pet.name}", "/pets/#{pet.id}", class: "pet-#{pet.id} font-heavy light-text" %></figcaption>
            <img src="<%= pet.image %>" class="pet-image-<%= pet.id %> pet-image"></img>
        </div>
    </div>

<% end %>
