<h2>Update Pet</h2>

<%= render partial: 'form', locals: {
                                    path: "/pets/#{@pet.id}", 
                                    method: :patch, 
                                    default: @pet, 
                                    submit_text: "Update Pet"
                                    } %>
