<h2>Create Pet</h2>

<%= render partial: 'form', locals: {
                                    path: "/shelters/#{@shelter_id}/pets", 
                                    method: :post, 
                                    default: params, 
                                    submit_text: "Create Pet"
                                    } %>
